<style>
	body {
		background-color: gray;
		font-size: 30px; 
	}

	p {
		font-size: 20px;
		font-style: italic;

	}

	.ball {
		color: gold;
	}

	button {
		color: blue;
	}

	img {
		width: 200px;
	}
	header {
		border-style: solid;
		text-align: center;
	}	


</style>